# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/*
!.vscode/settings.json
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Node (if you ever add tooling)
node_modules/

# Environment
.env
.env.local

# Build output
dist/
build/